<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

  <appSettings>
    <add key="ConexaoLaboratorio" value="Provider=SQLOLEDB; Data Source=localhost; Initial Catalog=BDVendaFJA; User Id=sa; Password=sql1433; Connect Timeout=500"/>
    <add key="Conexao" value="Provider=SQLOLEDB;Data Source=192.168.127.129;Initial Catalog=BDVendaFJA;User Id=sa;Password=123456;Connect Timeout=500"/>
  </appSettings>
  
</configuration>
